# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# macOS / Windows files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Uvicorn reload file
.reload

# Python test cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pydantic cache
.pdm.toml
.pdm.lock
